@import "./src/styles/variables";

.customSlider {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.customSlider-track {
    border-radius: 18px;
    top: 12px;
    height: 12px;
    background: $mainColor;
}

.customSlider-track.customSlider-track-0 {
    background: $activeColor;
}

.customSlider-thumb {
    cursor: pointer;
    /*color for the thumb */
    background: $activeColor;
    /* shape of the thumb: circle */
    width: 36px;
    height: 36px;
    border-radius: 100%;
    /* remove default outline when selected */
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
    color: $textColor;
}

.customSlider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(234, 28, 36, 0.2);
}

.customSlider-mark {
    cursor: pointer;
    width: 4px;
    height: 8px;
    background-color: $mainColor;
}

.customSlider-mark.customSlider-mark-before {
    background-color: $activeColor;
}

.customSlider-mark.customSlider-mark-active {
    display: none;
}