@import "./src/styles/variables";

.item {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    background-color: $secondaryColor;
    color: $textColor;

    &__title {

    }

    &__subtitle {
        color: #818181;
    }

    &__posterContainer {

    }

    &__poster {

    }
}