@import "./src/styles/variables";

.filter {
    display: flex;
    flex-direction: column;

    width: 70%;
    height: auto;

    padding-bottom: 50px;


    &__select_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__select {
        /* Reset Select */
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        /* Personalize */
        flex: 1;
        padding: 0 1em;
        color: #fff;
        background-color: $mainColor;
        background-image: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }


    &__option {
        font-size: 16px;
        padding: 10px;

        &:active {
            background-color: $activeColor;
        }

        &:checked {
            background-color: $activeColor;
        }
    }

    &__label {
        text-align: center;
        color: $textColor;
        font-weight: bold;
        font-size: 14px;
        margin-top: 13px;
        padding-bottom: 5px;
    }

    &__select_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 3em;
        border-radius: .25em;
        overflow: hidden;

        &::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 1em;
            background-color: $mainColor;
            color: $textColor;
            transition: .25s all ease;
            pointer-events: none;
        }
        /* Transition */
        &:hover::after {
            color: $activeColor;
        }
    }

    &__years_container {
        display: flex;
        justify-content: space-between;
    }

    &__slider_label {
        text-align: center;
        color: $textColor;
        font-weight: bold;
        font-size: 14px;
        margin-top: 13px;
    }

    &__button {
        text-decoration: none;
        border-radius: 10px;
        border: 2px solid $activeColor;
        font-weight: bold;
        color: $textColor;
        background-color: $activeColor;
        padding: 10px 20px;
        transition: all 0.5s;

        &:hover {
            background-color: $textColor;
            color: $activeColor;
            box-shadow: rgba(234, 28, 36, 0.5) 0px 0px 18px 7px;
            border: 2px solid rgba(234, 28, 36, 0.5);
        }
    }
}