@import "./src/styles/variables";

.list {
    width: 80%;
    border-radius: 10px;
    background-color: $secondaryColor;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 50px;

    &__container {
        grid-column: 1/6;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: $textColor;
    }

    &__link {
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
        color: $textColor;
        background-color: $activeColor;
        padding: 10px 20px;
        transition: 0.5s all;

        &:hover {
            background-color: $textColor;
            color: $activeColor;
            box-shadow: rgba(234, 28, 36, 0.5) 0px 0px 18px 7px;
        }
    }

    @media screen and (max-width: 1300px){
        & {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__container {
            grid-column: 1/4;
        }
    }

    @media screen and (max-width: 800px){
        & {
            grid-template-columns: 1fr 1fr;
        }

        &__container {
            grid-column: 1/3;
        }
    }

    @media screen and (max-width: 550px){
        & {
            grid-template-columns: 1fr;
        }

        &__container {
            grid-column: 1/2;
        }
    }

    @media screen and (max-width: 400px){
        &__container {
            grid-column: 1/2;
            flex-direction: column;
            align-items: center;
        }

        &__link {
            margin-top: 13px;
        }
    }
}