@import "./src/styles/variables";

.header {
    background-color: $secondaryColor;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;

    &__nav {
        display: flex;
        align-items: center;

        & a:not(:first-child) {
            margin-left: 80px;
        }
    }

    &__link {
        color: $disabledTextColor;
        text-decoration: none;
        font-size: 20px;
    }

    @media screen and (max-width: $sm){
        & {
            padding: 0 20px;
        }

        &__nav {
            & a:not(:first-child) {
                margin-left: 40px;
            }
        }

        &__link {
            font-size: 16px;
        }
    }
}

.selected-link {
    font-weight: 900;
    color: $textColor;
}