@import "./src/styles/variables";

.search {
    position: relative;
    z-index: 9000;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
        margin: 0;
    }

    @media screen and (max-width: 370px) {
        width: 250px;
    }
}